/* 
    Structure:

    * Root

    * Main

*/

/* 
    ================

    ----- Root ----- 

    ================
*/

:root {
  /* ----- Colors ----- */
  --main-blue: hsla(218, 57%, 27%, 1);
  --secondary-blue: hsla(216, 67%, 15%, 1);
  --text-white: hsla(0, 0%, 100%, 1);
}

/* 
    ================

    ----- Main -----
    
    ================
*/

.container {
  width: 25rem;
  height: 5rem;
  background-color: var(--main-blue);
  border-radius: 2.5rem;
  display: grid;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-left: 4.2rem;
}

.titles {
  color: var(--text-white);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
}

.text ~ ul {
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

ul li {
  margin-bottom: 1rem;
}

@media (min-width: 744px) {
  main ul[role="list"] {
    /* esto sale del reset.css */
    list-style: disc;
    padding-left: 3rem;
  }
}
