/* 
    Structure:

    * Root

    * Main

*/

/* 
    ================

    ----- Root ----- 

    ================
*/

:root {
  /* ----- Colors ----- */
  --main-blue: hsla(218, 57%, 27%, 1);
  --secondary-blue: hsla(216, 67%, 15%, 1);
  --text-white: hsla(0, 0%, 100%, 1);
}

/* 
    ================

    ----- Main ----- 

    ================
*/

.container {
  margin-bottom: 2.5rem;
  padding-left: 4.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.titles {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0em;
  text-align: left;
}

.text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
}

ul {
  padding: 0 0 0 2.4rem;
  margin: 0;
}

/* 
    ==================

    ----- Media -----
    ----- Desktop ----
    
    ==================
*/

@media only screen and (min-width: 1024px) {
  .main--service {
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    grid-gap: 10rem 20rem;
    justify-content: center;
    margin: 10rem 0;
  }

  .img--svg {
    height: 17rem;
  }

  h2 {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.3rem;
    margin: 3.5rem 0 0 0;
    padding: 0;
  }

  .text {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin: 0;
    padding: 0;
  }
}
